useDynLib(DALY)

import(tcltk, grid)

importFrom(grDevices, rgb)

importFrom(graphics, abline)
importFrom(graphics, barplot)
importFrom(graphics, barplot.default)
importFrom(graphics, box)
importFrom(graphics, hist)
importFrom(graphics, legend)
importFrom(graphics, par)
importFrom(graphics, points)
importFrom(graphics, segments)
importFrom(graphics, text)

importFrom(stats, aggregate)
importFrom(stats, approx)
importFrom(stats, coef)
importFrom(stats, cor.test)
importFrom(stats, lm)
importFrom(stats, median)
importFrom(stats, quantile)
importFrom(stats, symnum)
importFrom(stats, var)

importFrom(utils, head)
importFrom(utils, help)
importFrom(utils, tail)

export(DALYcalculator)
export(DALYmanual)
export(DALYoptions)
export(DALY_list)
export(getDALY)
export(readDALYdata)
export(reset)
export(saveDALYdata)
export(scatterplot)
export(sensitivity)
export(setDALYexample)
export(setData)
export(setLifeExp)
export(setPop)
export(setStdLE)

S3method(aggregate, DALY)
S3method(print, DALY)
S3method(summary, DALY)
S3method(plot, DALY)
S3method(hist, DALY)
S3method(scatterplot, DALY)

S3method(print, DALY_sensitivity)
S3method(plot, DALY_sensitivity)

S3method(print, DALY_list)
S3method(plot, DALY_list)
S3method(scatterplot, DALY_list)